.container {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    font-family: "Roboto";
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
}